.container {
  display: flex;
  flex-direction: row;
  margin: 0 2rem 1rem 2rem;
}

.modebar{
    display: flex;
}

input{
    display: none;
}

label{
    display: block;
    width: auto;
    height: 3rem;
    padding: 0 1rem;
    transition: 500ms;
}

label p{
    font-size: 16px;
}

label:hover:not(.active){
    background-color: #dddd;
}

input[type="radio"]:checked+label {
    background-color:#F08882;
    transition-timing-function: ease-in-out;
}
