.modebar {
  display: flex;
  flex-direction: row;
  margin: 0px 2rem;
  border-bottom: 2px solid #484848;
  height: 44px;
}

.modeBtn{
  background-color: transparent;
  height: 20px;
}

.modeBtn label{
 color: black;
 border-radius:20% 20% 0% 0%;
}

.modeBtn input[type='radio']:hover + label{
  color: black;
  background-color: #d3d3d3;
}

.modeBtn input[type='radio']:checked + label{
  color: white;
  background-color: #484848;
}